agentEndpoint = "https://<ResourceName>.services.ai.azure.com/api/projects/workflowDemo"

AZURE_ENDPOINT= "https://<ResourceName>.openai.azure.com/"

AZURE_DEPLOYMENT = "<DeploymentName>"

MODEL_GPT41_INPUT=
MODEL_GPT41_CACHED=
MODEL_GPT41_OUTPUT=

MODEL_GPT52_INPUT=
MODEL_GPT52_CACHED=
MODEL_GPT52_OUTPUT=

MODEL_GPT5MINI_INPUT=
MODEL_GPT5MINI_CACHED=
MODEL_GPT5MINI_OUTPUT=

BLOB_STORAGE_ACCOUNT = 

BLOB_CONTAINER = 